# Core APIs
fastapi
uvicorn
python-dotenv
requests
beautifulsoup4
pillow
python-multipart

# Vision
opencv-python-headless
ultralytics==8.3.130

# Audio + Voice
gtts
SpeechRecognition
pydub

# Deep learning
deepface==0.0.93
setuptools